# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Roman: exclude executables without file extension
# https://codicious.wordpress.com/2018/06/06/how-would-you-exclude-all-extension-less-executable-from-your-repo/
# *
# !*.*
# !*/

# input.txt - file with inputs for coding problems.
# Not required in source control, because stores info temporarily for
# the case I currently work on. Overwritten when I move to another case
input.txt

# .o files
*.o

test.cpp
A.cpp
B.cpp
C.cpp
D.cpp
E.cpp
F.cpp
G.cpp

a.out

# gcov
*.gcov
*.gcda
*.gcno

*.log

uber
